a {
  color: inherit;
  text-decoration: none;
}

body {
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  color: white;
  background-color: #1e1f24;
}

.sidebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  width: 35px;
  height: 100%;
  top: 0;
  border-right: 1px solid #393939;
  cursor: pointer;
  z-index: 99;
  background-color: #1e1f24;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.sidebar .logo {
  font-size: 1.3em;
  position: absolute;
  top: 0;
  margin-top: 3px;
}

.sidebar .handle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 9px;
  height: 30px;
}

.sidebar .handle .v-bar-a, .sidebar .handle .v-bar-b {
  width: 2px;
  height: 100%;
  background-color: #6c6c6c;
}

.outer-most {
  min-width: 100%;
  width: auto;
  height: 100%;
  overflow-Y: hidden;
  position: absolute;
  background-image: url(https://res.cloudinary.com/kmeda/image/upload/v1509180086/texture_akcj8b.png);
}

.outer-most .side-panel {
  display: inline-block;
  width: 75%;
  height: 100%;
  color: #dadada;
  margin-left: -75%;
  position: relative;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.outer-most .side-panel .side-panel-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  border-right: 1px solid #393939;
  padding-left: 35px;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  background-image: url(https://res.cloudinary.com/kmeda/image/upload/v1509180141/honeycomb_s9jgpr.png);
}

.outer-most .side-panel .side-panel-overlay .about-me {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, right top, from(rgba(30, 31, 36, 0.2)), color-stop(50%, #1e1f24), to(rgba(30, 31, 36, 0.2)));
  background: linear-gradient(to right, rgba(30, 31, 36, 0.2) 0%, #1e1f24 50%, rgba(30, 31, 36, 0.2) 100%);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.outer-most .side-panel .side-panel-overlay .about-me .content-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 90%;
  height: 90%;
  border: 1px solid #393939;
  position: relative;
}

.outer-most .side-panel .side-panel-overlay .about-me .content-box::before {
  content: 'About';
  color: #0afc9b;
  font-family: "Fira sans";
  font-size: 0.8em;
  letter-spacing: 0.2em;
  position: absolute;
  top: 0;
  right: 0;
  margin-top: -9px;
  margin-right: 10px;
}

.outer-most .side-panel .side-panel-overlay .about-me .content-box .avatar {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  width: 180px;
  height: 180px;
  top: -3%;
  left: 3%;
  z-index: 2;
  border: 6px solid #393939;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  background-image: url(https://avatars3.githubusercontent.com/u/2948696);
  background-size: cover;
  background-repeat: no-repeat;
}

.outer-most .side-panel .side-panel-overlay .about-me .content-box .avatar .contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  bottom: 0;
  left: 115%;
  z-index: 1;
}

.outer-most .side-panel .side-panel-overlay .about-me .content-box .avatar .contact .contact-glyph {
  font-size: 1.3em;
}

.outer-most .side-panel .side-panel-overlay .about-me .content-box .avatar .contact .email {
  margin-bottom: 7px;
}

.outer-most .side-panel .side-panel-overlay .about-me .content-box .avatar .contact .github {
  margin-bottom: 7px;
}

.outer-most .side-panel .side-panel-overlay .about-me .content-box .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.outer-most .side-panel .side-panel-overlay .about-me .content-box .content span {
  font-family: "Fira sans";
  background-color: #8f8b8b;
  color: transparent;
  -webkit-background-clip: text;
  text-align: justify;
  font-size: 0.9em;
  text-indent: 2em;
  line-height: 1.5em;
}

.outer-most .side-panel .side-panel-overlay .about-me .content-box .sig {
  width: 90px;
  height: 80px;
  position: absolute;
  right: 5%;
  bottom: 2%;
  background-image: url(https://res.cloudinary.com/kmeda/image/upload/v1509180442/sig_ieenwe.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.outer-most .front-area {
  display: inline-block;
  width: auto;
  height: 100%;
}

.outer-most .front-area .content-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  height: 100%;
  position: absolute;
}

.outer-most .front-area .content-container .profile {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-width: 50vw;
  height: 100%;
  position: relative;
}

.outer-most .front-area .content-container .profile .dial-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 0;
}

.outer-most .front-area .content-container .profile .dial-container .dial {
  width: 70%;
  height: auto;
}

.outer-most .front-area .content-container .profile .text-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  left: 0;
}

.outer-most .front-area .content-container .profile .text-container .text-overlay {
  margin-top: 150px;
  text-align: center;
  width: 100%;
  font-family: 'Fira Sans', sans-serif;
}

.outer-most .front-area .content-container .profile .text-container .text-overlay .greeting {
  font-size: 2.5em;
  background-color: #fafafa;
  color: transparent;
  -webkit-background-clip: text;
}

.outer-most .front-area .content-container .profile .text-container .text-overlay .name {
  font-size: 1.5em;
  background-color: #8f8b8b;
  color: transparent;
  -webkit-background-clip: text;
}

.outer-most .front-area .content-container .profile .text-container .text-overlay .name span {
  background-color: #0afc9b;
  color: transparent;
  -webkit-background-clip: text;
}

.outer-most .front-area .content-container .profile .text-container .text-overlay .iam {
  font-size: 4em;
  letter-spacing: 5px;
  padding-left: 20px;
  background-color: #fafafa;
  color: transparent;
  -webkit-background-clip: text;
}

.outer-most .front-area .content-container .profile .text-container .text-overlay .endline {
  background-color: #8f8b8b;
  color: transparent;
  -webkit-background-clip: text;
  font-size: 0.8em;
}

.outer-most .front-area .content-container .profile .forward-indicator {
  position: absolute;
  left: 100%;
  top: 35%;
  font-size: 2em;
  -webkit-transform: translateX(-40px);
          transform: translateX(-40px);
  color: #6c6c6c;
  cursor: pointer;
  z-index: 9;
}

.outer-most .front-area .content-container .projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 40vw;
  width: auto;
  height: 100%;
}

.outer-most .front-area .content-container .projects .skills {
  text-align: center;
  min-width: 350px;
  height: 100%;
  border-left: 1px solid #393939;
  position: relative;
}

.outer-most .front-area .content-container .projects .skills .skills-overlay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  position: relative;
}

.outer-most .front-area .content-container .projects .skills .skills-overlay .tool-chain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  min-height: 470px;
  font-family: "Fira sans";
  background-image: url(https://res.cloudinary.com/kmeda/image/upload/v1509181756/halftonesimple_cbpemp.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.outer-most .front-area .content-container .projects .skills .skills-overlay .tool-chain .label {
  margin-bottom: 30px;
  width: 100%;
  font-size: 1.3em;
  background-color: #8f8b8b;
  color: transparent;
  -webkit-background-clip: text;
}

.outer-most .front-area .content-container .projects .skills .skills-overlay .tool-chain .label span {
  font-size: 0.9em;
  background-color: #0afc9b;
  color: transparent;
  -webkit-background-clip: text;
}

.outer-most .front-area .content-container .projects .skills .skills-overlay .tool-chain .skill {
  text-align: left;
  width: 70%;
  min-height: 40px;
  font-size: 0.8em;
  background-color: #8f8b8b;
  color: transparent;
  -webkit-background-clip: text;
  margin-bottom: 5px;
  position: relative;
}

.outer-most .front-area .content-container .projects .skills .skills-overlay .tool-chain .skill .level {
  margin-top: 5px;
  width: 100%;
  height: 1px;
  background-color: rgba(10, 252, 155, 0.2);
  position: relative;
}

.outer-most .front-area .content-container .projects .skills .skills-overlay .tool-chain .skill .level.selenium::after {
  content: '';
  position: absolute;
  width: 98%;
  height: 2px;
  background-color: #0afc9b;
}

.outer-most .front-area .content-container .projects .skills .skills-overlay .tool-chain .skill .level.protractor::after {
  content: '';
  position: absolute;
  width: 70%;
  height: 2px;
  background-color: #0afc9b;
}

.outer-most .front-area .content-container .projects .skills .skills-overlay .tool-chain .skill .level.bdd::after {
  content: '';
  position: absolute;
  width: 95%;
  height: 2px;
  background-color: #0afc9b;
}

.outer-most .front-area .content-container .projects .skills .skills-overlay .tool-chain .skill .level.language::after {
  content: '';
  position: absolute;
  width: 70%;
  height: 2px;
  background-color: #0afc9b;
}

.outer-most .front-area .content-container .projects .skills .skills-overlay .tool-chain .skill .level.appium::after {
  content: '';
  position: absolute;
  width: 40%;
  height: 2px;
  background-color: #0afc9b;
}

.outer-most .front-area .content-container .projects .skills .skills-overlay .tool-chain .skill .level.api::after {
  content: '';
  position: absolute;
  width: 90%;
  height: 2px;
  background-color: #0afc9b;
}

.outer-most .front-area .content-container .projects .skills .skills-overlay .tool-chain .skill .level.jenkins::after {
  content: '';
  position: absolute;
  width: 95%;
  height: 2px;
  background-color: #0afc9b;
}

.outer-most .front-area .content-container .projects .skills .skills-overlay .tool-chain .skill .level.docker::after {
  content: '';
  position: absolute;
  width: 85%;
  height: 2px;
  background-color: #0afc9b;
}

.outer-most .front-area .content-container .projects .skills .skills-overlay .tool-chain .skill .level.kubernetes::after {
  content: '';
  position: absolute;
  width: 55%;
  height: 2px;
  background-color: #0afc9b;
}

.outer-most .front-area .content-container .projects .skills .skills-overlay .tool-chain .skill .level.zalenium::after {
  content: '';
  position: absolute;
  width: 90%;
  height: 2px;
  background-color: #0afc9b;
}

.outer-most .front-area .content-container .projects .skills .skills-overlay .tool-chain .skill .level.git::after {
  content: '';
  position: absolute;
  width: 95%;
  height: 2px;
  background-color: #0afc9b;
}

.outer-most .front-area .content-container .projects .skills .skills-overlay .tool-chain .skill .level.shell::after {
  content: '';
  position: absolute;
  width: 45%;
  height: 2px;
  background-color: #0afc9b;
}

.outer-most .front-area .content-container .projects .skills .skills-overlay .tool-chain .skill .level.management::after {
  content: '';
  position: absolute;
  width: 75%;
  height: 2px;
  background-color: #0afc9b;
}

.outer-most .front-area .content-container .projects .projects-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: 2500px;
  width: auto;
  height: 100%;
  padding-right: 100px;
  padding-left: 50px;
  border-left: 1px solid #393939;
  position: relative;
  background-image: url(https://res.cloudinary.com/kmeda/image/upload/v1509180141/honeycomb_s9jgpr.png);
}

.outer-most .front-area .content-container .projects .projects-wrapper::before {
  content: 'Experience';
  position: absolute;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  left: 0;
  background-color: rgba(10, 252, 155, 0.9);
  color: transparent;
  -webkit-background-clip: text;
  font-family: "Fira sans";
  font-size: 1.2em;
}

.outer-most .front-area .content-container .projects .projects-wrapper .grid-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 97%;
  height: 90%;
}

.outer-most .front-area .content-container .projects .projects-wrapper .grid-container .grid {
  width: 100%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[7];
      grid-template-columns: repeat(7, 1fr);
  -ms-grid-rows: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 15px 15px;
}

.outer-most .front-area .content-container .projects .projects-wrapper .grid-container .grid .project {
  -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.9);
          box-shadow: 0 0 30px rgba(0, 0, 0, 0.9);
  text-align: center;
  position: relative;
}

.outer-most .front-area .content-container .projects .projects-wrapper .grid-container .grid .project .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.65);
  left: 0;
  top: 0;
  overflow: hidden;
  font-family: "Fira Sans";
}

.outer-most .front-area .content-container .projects .projects-wrapper .grid-container .grid .project .overlay:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.outer-most .front-area .content-container .projects .projects-wrapper .grid-container .grid .project .overlay .count {
  position: absolute;
  right: 0;
  font-size: 1.1em;
  padding-right: 5px;
  padding-top: 5px;
  z-index: 9;
  background-color: #e3e0e0;
  color: transparent;
  -webkit-background-clip: text;
}

.outer-most .front-area .content-container .projects .projects-wrapper .grid-container .grid .project .overlay .description {
  position: absolute;
  z-index: 9;
  background-color: #e3e0e0;
  color: transparent;
  -webkit-background-clip: text;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.outer-most .front-area .content-container .projects .projects-wrapper .grid-container .grid .project .overlay .popup {
  position: absolute;
  width: 100%;
  height: 60%;
  background-color: rgba(0, 0, 0, 0.9);
  bottom: 0;
  top: 100%;
}

.outer-most .front-area .content-container .projects .projects-wrapper .grid-container .grid .project .overlay .popup .stack {
  position: absolute;
  left: 5%;
  top: 100%;
}

.outer-most .front-area .content-container .projects .projects-wrapper .grid-container .grid .project .overlay .popup .stack span {
  text-align: left;
  padding-left: 5px;
  padding-right: 15px;
  font-family: "Fira sans";
  font-size: 0.7em;
  background-color: #e3e0e0;
  color: transparent;
  -webkit-background-clip: text;
}

.outer-most .front-area .content-container .projects .projects-wrapper .grid-container .grid .project .overlay .popup .github {
  position: absolute;
  left: 50%;
  bottom: -10%;
  -webkit-transform: translateX(-30px);
          transform: translateX(-30px);
  cursor: pointer;
}

.outer-most .front-area .content-container .projects .projects-wrapper .grid-container .grid .project .overlay .popup .live-link {
  position: absolute;
  left: 50%;
  bottom: -10%;
  cursor: pointer;
}

.outer-most .front-area .content-container .projects .projects-wrapper .grid-container .grid .project-21 {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 2;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 2;
  background-image: url(https://res.cloudinary.com/kmeda/image/upload/v1509180401/project21_kfxzmg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.outer-most .front-area .content-container .projects .projects-wrapper .grid-container .grid .project-20 {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 2;
  -ms-grid-row: 2;
      grid-row-start: 2;
  grid-row-end: 3;
  background-image: url(https://res.cloudinary.com/kmeda/image/upload/v1509180402/project20_zyfs01.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.outer-most .front-area .content-container .projects .projects-wrapper .grid-container .grid .project-19 {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 2;
  -ms-grid-row: 3;
      grid-row-start: 3;
  background-image: url(https://res.cloudinary.com/kmeda/image/upload/v1509180403/project19_cfz4uy.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.outer-most .front-area .content-container .projects .projects-wrapper .grid-container .grid .project-18 {
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 3;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 2;
  background-image: url(https://res.cloudinary.com/kmeda/image/upload/v1509180402/project18_aetjjj.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.outer-most .front-area .content-container .projects .projects-wrapper .grid-container .grid .project-17 {
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 3;
  -ms-grid-row: 2;
      grid-row-start: 2;
  grid-row-end: 3;
  background-image: url(https://res.cloudinary.com/kmeda/image/upload/v1509180402/project17_fht0it.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.outer-most .front-area .content-container .projects .projects-wrapper .grid-container .grid .project-16 {
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 3;
  -ms-grid-row: 3;
      grid-row-start: 3;
  background-image: url(https://res.cloudinary.com/kmeda/image/upload/v1509180402/project16_e9gseo.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.outer-most .front-area .content-container .projects .projects-wrapper .grid-container .grid .project-15 {
  -ms-grid-column: 3;
      grid-column-start: 3;
  grid-column-end: 4;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 2;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.outer-most .front-area .content-container .projects .projects-wrapper .grid-container .grid .project-14 {
  -ms-grid-column: 3;
      grid-column-start: 3;
  grid-column-end: 4;
  -ms-grid-row: 2;
      grid-row-start: 2;
  grid-row-end: 3;
  background-image: url(https://res.cloudinary.com/kmeda/image/upload/v1509180402/project14_y6saok.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.outer-most .front-area .content-container .projects .projects-wrapper .grid-container .grid .project-13 {
  -ms-grid-column: 3;
      grid-column-start: 3;
  grid-column-end: 4;
  -ms-grid-row: 3;
      grid-row-start: 3;
  grid-row-end: 3;
  background-image: url(https://res.cloudinary.com/kmeda/image/upload/v1509180402/project13_wri7tn.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.outer-most .front-area .content-container .projects .projects-wrapper .grid-container .grid .project-12 {
  -ms-grid-column: 4;
      grid-column-start: 4;
  grid-column-end: 5;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 2;
  background-image: url(https://res.cloudinary.com/kmeda/image/upload/v1509180403/project12_sz4zvc.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.outer-most .front-area .content-container .projects .projects-wrapper .grid-container .grid .project-11 {
  -ms-grid-column: 4;
      grid-column-start: 4;
  grid-column-end: 5;
  -ms-grid-row: 2;
      grid-row-start: 2;
  grid-row-end: 3;
  background-image: url(https://res.cloudinary.com/kmeda/image/upload/v1509180403/project11_ok5taw.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.outer-most .front-area .content-container .projects .projects-wrapper .grid-container .grid .project-10 {
  -ms-grid-column: 4;
      grid-column-start: 4;
  grid-column-end: 5;
  -ms-grid-row: 3;
      grid-row-start: 3;
  grid-row-end: 3;
  background-image: url(https://res.cloudinary.com/kmeda/image/upload/v1509180403/project10_fdjhwk.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.outer-most .front-area .content-container .projects .projects-wrapper .grid-container .grid .project-09 {
  -ms-grid-column: 5;
      grid-column-start: 5;
  grid-column-end: 6;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 2;
  background-image: url(https://res.cloudinary.com/kmeda/image/upload/v1509180403/project09_xnciti.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.outer-most .front-area .content-container .projects .projects-wrapper .grid-container .grid .project-08 {
  -ms-grid-column: 5;
      grid-column-start: 5;
  grid-column-end: 6;
  -ms-grid-row: 2;
      grid-row-start: 2;
  grid-row-end: 3;
  background-image: url(https://res.cloudinary.com/kmeda/image/upload/v1509180403/project08_wmg8q0.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.outer-most .front-area .content-container .projects .projects-wrapper .grid-container .grid .project-07 {
  -ms-grid-column: 5;
      grid-column-start: 5;
  grid-column-end: 6;
  -ms-grid-row: 3;
      grid-row-start: 3;
  grid-row-end: 3;
  background-image: url(https://res.cloudinary.com/kmeda/image/upload/v1509180404/project07_lidrbh.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.outer-most .front-area .content-container .projects .projects-wrapper .grid-container .grid .project-06 {
  -ms-grid-column: 6;
      grid-column-start: 6;
  grid-column-end: 7;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 2;
  background-image: url(https://res.cloudinary.com/kmeda/image/upload/v1509180403/project06_ulao95.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.outer-most .front-area .content-container .projects .projects-wrapper .grid-container .grid .project-05 {
  -ms-grid-column: 6;
      grid-column-start: 6;
  grid-column-end: 7;
  -ms-grid-row: 2;
      grid-row-start: 2;
  grid-row-end: 3;
  background-image: url(https://res.cloudinary.com/kmeda/image/upload/v1509180404/project05_nn9tbh.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.outer-most .front-area .content-container .projects .projects-wrapper .grid-container .grid .project-04 {
  -ms-grid-column: 6;
      grid-column-start: 6;
  grid-column-end: 7;
  -ms-grid-row: 3;
      grid-row-start: 3;
  grid-row-end: 3;
  background-image: url(https://res.cloudinary.com/kmeda/image/upload/v1509180403/project04_sc4fia.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.outer-most .front-area .content-container .projects .projects-wrapper .grid-container .grid .project-03 {
  -ms-grid-column: 7;
      grid-column-start: 7;
  grid-column-end: 8;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 2;
  background-image: url(https://res.cloudinary.com/kmeda/image/upload/v1509180404/project03_zfag0i.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.outer-most .front-area .content-container .projects .projects-wrapper .grid-container .grid .project-02 {
  -ms-grid-column: 7;
      grid-column-start: 7;
  grid-column-end: 8;
  -ms-grid-row: 2;
      grid-row-start: 2;
  grid-row-end: 3;
  background-image: url(https://res.cloudinary.com/kmeda/image/upload/v1509180404/project02_pxs8yt.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.outer-most .front-area .content-container .projects .projects-wrapper .grid-container .grid .project-01 {
  -ms-grid-column: 7;
      grid-column-start: 7;
  grid-column-end: 8;
  -ms-grid-row: 3;
      grid-row-start: 3;
  grid-row-end: 3;
  background-image: url(https://res.cloudinary.com/kmeda/image/upload/v1509180404/project01_v0j8wl.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.outer-most .front-area .content-container .projects .go-back-indicator {
  height: 100%;
  min-width: 40px;
  border-left: 1px solid #393939;
  text-align: center;
  font-size: 2em;
  -webkit-transform: translateX(-15px);
          transform: translateX(-15px);
  position: absolute;
  right: 0;
}

.outer-most .front-area .content-container .projects .go-back-indicator .back {
  color: #6c6c6c;
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #1e1f24;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb {
  background: #6c6c6c;
  border: 3px solid #1e1f24;
  border-radius: 5px;
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
  .profile {
    min-width: 100vw !important;
  }
  .greeting {
    font-size: 1em !important;
  }
  .name {
    font-size: 0.8em !important;
  }
  .iam {
    font-size: 1.5em !important;
  }
  .endline {
    font-size: 0.6em !important;
  }
  .forward-indicator {
    font-size: 1.5em !important;
  }
  .go-back-indicator {
    font-size: 1.5em !important;
  }
  .projects-wrapper {
    min-width: 1700px !important;
  }
  .count {
    font-size: 0.9em !important;
  }
  .description {
    font-size: 0.7em !important;
  }
  .popup .stack {
    font-size: 0.7em !important;
    top: 40% !important;
  }
  .popup .stack span {
    font-size: 0.5em !important;
  }
  .popup .github {
    font-size: 0.7em !important;
  }
  .popup .live-link {
    font-size: 0.7em !important;
  }
  .avatar {
    width: 100px !important;
    height: 100px !important;
    border: 4px solid #393939 !important;
  }
  .contact-glyph {
    font-size: 0.9em !important;
  }
  .sig {
    width: 55px !important;
    height: 45px !important;
  }
  .content-box::before {
    font-size: 0.7em !important;
    margin-top: -7px !important;
    margin-right: 10px !important;
  }
  .content span {
    font-size: 0.7em !important;
  }
}

@media only screen and (min-width: 481px) and (max-width: 1280px) {
  .profile {
    min-width: 65vw !important;
  }
  .greeting {
    font-size: 1.3em !important;
  }
  .name {
    font-size: 1em !important;
  }
  .iam {
    font-size: 2em !important;
  }
  .endline {
    font-size: 0.7em !important;
  }
  .forward-indicator {
    font-size: 1.5em !important;
  }
  .go-back-indicator {
    font-size: 1.5em !important;
  }
}

@media only screen and (min-width: 800px) and (max-width: 1280px) {
  .greeting {
    font-size: 1.7em !important;
  }
  .name {
    font-size: 1.3em !important;
  }
  .iam {
    font-size: 3em !important;
  }
  .endline {
    font-size: 1em !important;
  }
  .forward-indicator {
    font-size: 2em !important;
  }
  .go-back-indicator {
    font-size: 1.5em !important;
  }
  .projects-wrapper {
    min-width: 2000px !important;
  }
  .count {
    font-size: 0.9em !important;
  }
  .description {
    font-size: 0.9em !important;
  }
  .popup .stack {
    font-size: 0.8em !important;
    top: 40% !important;
  }
  .popup .stack span {
    font-size: 0.7em !important;
  }
  .popup .github {
    font-size: 0.8em !important;
  }
  .popup .live-link {
    font-size: 0.8em !important;
  }
}

@media only screen and (min-height: 320px) and (max-height: 420px) {
  .profile {
    min-width: 75vw !important;
  }
  .greeting {
    font-size: 1em !important;
  }
  .name {
    font-size: 0.8em !important;
  }
  .iam {
    font-size: 1.3em !important;
  }
  .endline {
    font-size: 0.6em !important;
  }
  .forward-indicator {
    font-size: 1.5em !important;
  }
  .go-back-indicator {
    font-size: 1.5em !important;
  }
  .dial {
    width: 60% !important;
  }
  .skills {
    min-width: 300px !important;
  }
  .skills .skills-overlay .tool-chain {
    min-height: 320px !important;
  }
  .skills .skills-overlay .tool-chain .label {
    margin-bottom: 20px !important;
    font-size: 0.85em !important;
  }
  .skills .skills-overlay .tool-chain .skill {
    min-height: 25px !important;
    font-size: 0.6em !important;
    margin-bottom: 3px !important;
  }
  .skills .skills-overlay .tool-chain .skill .level {
    margin-top: 3px !important;
  }
  .grid {
    -ms-grid-columns: (1fr)[11] !important;
        grid-template-columns: repeat(11, 1fr) !important;
    -ms-grid-rows: 1fr 1fr !important;
        grid-template-rows: 1fr 1fr !important;
    grid-gap: 10px 10px !important;
  }
  .grid .project-21 {
    -ms-grid-column: 1 !important;
        grid-column-start: 1 !important;
    grid-column-end: 2 !important;
    -ms-grid-row: 1 !important;
        grid-row-start: 1 !important;
    grid-row-end: 2 !important;
  }
  .grid .project-20 {
    -ms-grid-column: 1 !important;
        grid-column-start: 1 !important;
    grid-column-end: 2 !important;
    -ms-grid-row: 2 !important;
        grid-row-start: 2 !important;
  }
  .grid .project-19 {
    -ms-grid-column: 2 !important;
        grid-column-start: 2 !important;
    grid-column-end: 3 !important;
    -ms-grid-row: 1 !important;
        grid-row-start: 1 !important;
    grid-row-end: 2 !important;
  }
  .grid .project-18 {
    -ms-grid-column: 2 !important;
        grid-column-start: 2 !important;
    grid-column-end: 3 !important;
    -ms-grid-row: 2 !important;
        grid-row-start: 2 !important;
  }
  .grid .project-17 {
    -ms-grid-column: 3 !important;
        grid-column-start: 3 !important;
    grid-column-end: 4 !important;
    -ms-grid-row: 1 !important;
        grid-row-start: 1 !important;
    grid-row-end: 2 !important;
  }
  .grid .project-16 {
    -ms-grid-column: 3 !important;
        grid-column-start: 3 !important;
    grid-column-end: 4 !important;
    -ms-grid-row: 2 !important;
        grid-row-start: 2 !important;
  }
  .grid .project-15 {
    -ms-grid-column: 4 !important;
        grid-column-start: 4 !important;
    grid-column-end: 5 !important;
    -ms-grid-row: 1 !important;
        grid-row-start: 1 !important;
    grid-row-end: 2 !important;
  }
  .grid .project-14 {
    -ms-grid-column: 4 !important;
        grid-column-start: 4 !important;
    grid-column-end: 5 !important;
    -ms-grid-row: 2 !important;
        grid-row-start: 2 !important;
  }
  .grid .project-13 {
    -ms-grid-column: 5 !important;
        grid-column-start: 5 !important;
    grid-column-end: 6 !important;
    -ms-grid-row: 1 !important;
        grid-row-start: 1 !important;
    grid-row-end: 2 !important;
  }
  .grid .project-12 {
    -ms-grid-column: 5 !important;
        grid-column-start: 5 !important;
    grid-column-end: 6 !important;
    -ms-grid-row: 2 !important;
        grid-row-start: 2 !important;
  }
  .grid .project-11 {
    -ms-grid-column: 6 !important;
        grid-column-start: 6 !important;
    grid-column-end: 7 !important;
    -ms-grid-row: 1 !important;
        grid-row-start: 1 !important;
    grid-row-end: 2 !important;
  }
  .grid .project-10 {
    -ms-grid-column: 6 !important;
        grid-column-start: 6 !important;
    grid-column-end: 7 !important;
    -ms-grid-row: 2 !important;
        grid-row-start: 2 !important;
  }
  .grid .project-09 {
    -ms-grid-column: 7 !important;
        grid-column-start: 7 !important;
    grid-column-end: 8 !important;
    -ms-grid-row: 1 !important;
        grid-row-start: 1 !important;
    grid-row-end: 2 !important;
  }
  .grid .project-08 {
    -ms-grid-column: 7 !important;
        grid-column-start: 7 !important;
    grid-column-end: 8 !important;
    -ms-grid-row: 2 !important;
        grid-row-start: 2 !important;
  }
  .grid .project-07 {
    -ms-grid-column: 8 !important;
        grid-column-start: 8 !important;
    grid-column-end: 9 !important;
    -ms-grid-row: 1 !important;
        grid-row-start: 1 !important;
    grid-row-end: 2 !important;
  }
  .grid .project-06 {
    -ms-grid-column: 8 !important;
        grid-column-start: 8 !important;
    grid-column-end: 9 !important;
    -ms-grid-row: 2 !important;
        grid-row-start: 2 !important;
  }
  .grid .project-05 {
    -ms-grid-column: 9 !important;
        grid-column-start: 9 !important;
    grid-column-end: 10 !important;
    -ms-grid-row: 1 !important;
        grid-row-start: 1 !important;
    grid-row-end: 2 !important;
  }
  .grid .project-04 {
    -ms-grid-column: 9 !important;
        grid-column-start: 9 !important;
    grid-column-end: 10 !important;
    -ms-grid-row: 2 !important;
        grid-row-start: 2 !important;
  }
  .grid .project-03 {
    -ms-grid-column: 10 !important;
        grid-column-start: 10 !important;
    grid-column-end: 11 !important;
    -ms-grid-row: 1 !important;
        grid-row-start: 1 !important;
    grid-row-end: 2 !important;
  }
  .grid .project-02 {
    -ms-grid-column: 10 !important;
        grid-column-start: 10 !important;
    grid-column-end: 11 !important;
    -ms-grid-row: 2 !important;
        grid-row-start: 2 !important;
  }
  .grid .project-01 {
    -ms-grid-column: 11 !important;
        grid-column-start: 11 !important;
    grid-column-end: 12 !important;
    -ms-grid-row: 1 !important;
        grid-row-start: 1 !important;
    grid-row-end: 2 !important;
  }
  .count {
    font-size: 0.9em !important;
  }
  .description {
    font-size: 0.7em !important;
  }
  .popup .stack {
    font-size: 0.7em !important;
    top: 40% !important;
  }
  .popup .stack span {
    font-size: 0.5em !important;
  }
  .popup .github {
    font-size: 0.7em !important;
  }
  .popup .live-link {
    font-size: 0.7em !important;
  }
  .avatar {
    width: 100px !important;
    height: 100px !important;
    border: 4px solid #393939 !important;
  }
  .contact-glyph {
    font-size: 0.8em !important;
  }
  .sig {
    width: 55px !important;
    height: 45px !important;
  }
  .content-box::before {
    font-size: 0.7em !important;
    margin-top: -7px !important;
    margin-right: 10px !important;
  }
  .content {
    top: 60% !important;
  }
  .content span {
    font-size: 0.65em !important;
  }
}
/*# sourceMappingURL=style.css.map */